{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="button" data-bs-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-product').toggleClass('d-none');" class="btn btn-light d-lg-none"><i class="fa-solid fa-filter"></i></button>
        <a href="{{ product_search }}" data-bs-toggle="tooltip" title="{{ button_product_search }}" class="btn btn-warning"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="{{ add }}" data-bs-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa-solid fa-plus"></i></a>
        {% if filter_status == 0 %}
          <button type="submit" form="form-product" formaction="{{ enable }}" data-bs-toggle="tooltip" title="{{ button_enable }}" class="btn btn-success" onclick="return confirm('{{ text_confirm }}');"><i class="fa-solid fa-check"></i></button>
        {% else %}
          <button type="submit" form="form-product" formaction="{{ disable }}" data-bs-toggle="tooltip" title="{{ button_disable }}" class="btn btn-danger" onclick="return confirm('{{ text_confirm }}');"><i class="fa-solid fa-ban"></i></button>
        {% endif %}
        <button type="submit" form="form-product" formaction="{{ copy }}" data-bs-toggle="tooltip" title="{{ button_copy }}" class="btn btn-info"><i class="fa-solid fa-copy"></i></button>
        <button type="submit" form="form-product" formaction="{{ delete }}" data-bs-toggle="tooltip" title="{{ button_delete }}" onclick="return confirm('{{ text_confirm }}');" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
        <a href="{{ print_report }}" target="_blank" class="btn btn-info"><i class="fa-solid fa-print"></i></a>
        <button type="button" id="button-update-selected-marketplace" class="btn btn-success" onclick="updateSelectedMarketplaceListings();" data-bs-toggle="tooltip" title="{{ button_update_selected_marketplace }}"><i class="fa-solid fa-rotate"></i> {{ button_update_selected_marketplace }}</button>
        <button type="button" id="button-list-feed" class="btn btn-warning d-none" onclick="{{ list_button_action }}" data-bs-toggle="tooltip" title="{{ list_button_title }}"><i class="fa-solid fa-list"></i> {{ list_button_title }}</button>
        <button type="button" id="button-end-selected" class="btn btn-danger d-none" onclick="handleEndList();" data-bs-toggle="tooltip" title="{{ text_end_selected|default('End Selected') }}"><i class="fa-solid fa-stop"></i> {{ text_end_selected|default('End Selected') }}</button>
        <button type="button" class="btn btn-info" onclick="editQuantityToMarketplaceBulk();" data-bs-toggle="tooltip" title="{{ list_button_update_all_products }}"><i class="fa-solid fa-list"></i> {{ list_button_update_all_products }}</button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>

      {{ alert_popup|raw }}
      {{ marketplace_error_popup|raw }}
      
      <div id="alert" class="position-fixed top-0 end-0 p-3" style="z-index: 9999;"></div>


    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div id="filter-product" class="col-lg-3 col-md-12 order-lg-last d-none d-lg-block mb-3">
        <div class="card">
          <div class="card-header"><i class="fa-solid fa-filter"></i> {{ text_filter }} <button type="button" id="button-reset-filters" class="btn btn-sm btn-outline-secondary float-end" data-bs-toggle="tooltip" title="{{ button_reset_filters }}"><i class="fa-solid fa-redo"></i></button></div>
          <div class="card-body">
            <form id="form-filter">
             <input type="hidden" name="user_token" value="{{ user_token }}">
              <div class="mb-3">
                <label for="input-sku" class="form-label">{{ entry_sku }}</label>
                <input type="text" name="filter_sku" value="{{ filter_sku }}" placeholder="{{ entry_sku }}" id="input-sku" class="form-control form-control-sm"/>
              </div>

              <div class="mb-3">
                <label for="input-specifics" class="form-label">{{ entry_specifics }}</label>
                <select name="filter_specifics" id="input-specifics" class="form-select form-select-sm">
                  <option value="*"></option>
                  <option value="1" {% if filter_specifics == '1' %}selected{% endif %}>{{ text_specifics_set }}</option>
                  <option value="0" {% if filter_specifics == '0' and filter_specifics is not null %}selected{% endif %}>{{ text_specifics_not_set }}</option>
                  <option value="2" {% if filter_specifics == '2' %}selected{% endif %}>{{ text_specifics_error }}</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="input-sources" class="form-label">{{ entry_sources }}</label>
                <select name="filter_sources" id="input-sources" class="form-select form-select-sm">
                  <option value="*"></option>
                  <option value="1" {% if filter_sources == '1' %}selected{% endif %}>{{ text_sources_set }}</option>
                  <option value="0" {% if filter_sources == '0' and filter_sources is not null %}selected{% endif %}>{{ text_sources_not_set }}</option>
                  <option value="2" {% if filter_sources == '2' %}selected{% endif %}>{{ text_sources_error }}</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="input-marketplace-account-id" class="form-label">{{ entry_marketplace_account_id }}</label>
                <select name="filter_marketplace_account_id" id="input-marketplace-account-id" class="form-select form-select-sm">
                  <option value=""></option>
                  {% for account in marketplace_accounts %}
                    <option value="{{ account.marketplace_account_id }}" {% if account.marketplace_account_id == filter_marketplace_account_id %}selected{% endif %}>
                      {{ account.marketplace_name }}
                    </option>
                  {% endfor %}
                </select>
              </div>

              <div class="mb-3">
                <label for="input-marketplace" class="form-label">{{ entry_marketplace }}</label>
                <select name="filter_marketplace" id="input-marketplace" class="form-select form-select-sm">
                  <option value=""></option>
                  <option value="1" {% if filter_marketplace == '1' %}selected{% endif %}>{{ text_listed }}</option>
                  <option value="0" {% if filter_marketplace == '0' and filter_marketplace is not null %}selected{% endif %}>{{ text_not_listed }}</option>
                  <option value="2" {% if filter_marketplace == '2' %}selected{% endif %}>{{ text_error_listing }}</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="input-name" class="form-label">{{ entry_name }}</label> <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" data-oc-target="autocomplete-name" class="form-control" autocomplete="off"/>
                <ul id="autocomplete-name" class="dropdown-menu"></ul>
              </div>

              <div class="mb-3">
                <label for="input-model" class="form-label">{{ entry_model }}</label> <input type="text" name="filter_model" value="{{ filter_model }}" placeholder="{{ entry_model }}" id="input-model" data-oc-target="autocomplete-model" class="form-control" autocomplete="off"/>
                <ul id="autocomplete-model" class="dropdown-menu"></ul>
              </div>

              <div class="mb-3">
                <label for="input-category" class="form-label">{{ entry_category }}</label> <input type="text" name="filter_category" value="{{ filter_category }}" placeholder="{{ entry_category }}" id="input-category" data-oc-target="autocomplete-category" class="form-control" autocomplete="off"/>
                <input type="hidden" name="filter_category_id" value="{{ filter_category_id }}" id="input-category-id"/>
                <ul id="autocomplete-category" class="dropdown-menu"></ul>
              </div>

              <div class="mb-3">
                <label for="input-manufacturer" class="form-label">{{ entry_manufacturer }}</label> <input type="text" name="filter_manufacturer" value="{{ filter_manufacturer }}" placeholder="{{ entry_manufacturer }}" id="input-manufacturer" data-oc-target="autocomplete-manufacturer" class="form-control" autocomplete="off"/>
                <input type="hidden" name="filter_manufacturer_id" value="{{ filter_manufacturer_id }}" id="input-manufacturer-id"/>
                <ul id="autocomplete-manufacturer" class="dropdown-menu"></ul>
              </div>

              <div class="mb-3">
                <label for="input-price-from" class="form-label">{{ entry_price }}</label>
                <div class="row">
                  <div class="col">
                    <input type="text" name="filter_price_from" value="{{ filter_price_from }}" placeholder="{{ text_from }}" id="input-price-from" class="form-control"/>
                  </div>
                  <label class="col-auto col-form-label px-0"><i class="fa-solid fa-minus"></i></label>
                  <div class="col">
                    <input type="text" name="filter_price_to" value="{{ filter_price_to }}" placeholder="{{ text_to }}" id="input-price-to" class="form-control"/>
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="input-quantity-from" class="form-label">{{ entry_quantity }}</label>
                <div class="row">
                  <div class="col">
                    <input type="text" name="filter_quantity_from" value="{{ filter_quantity_from }}" placeholder="{{ text_from }}" id="input-quantity-from" class="form-control"/>
                  </div>
                  <label class="col-auto col-form-label px-0"><i class="fa-solid fa-minus"></i></label>
                  <div class="col">
                    <input type="text" name="filter_quantity_to" value="{{ filter_quantity_to }}" placeholder="{{ text_to }}" id="input-quantity-to" class="form-control"/>
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="input-image" class="form-label">{{ entry_image }}</label>
                <select name="filter_image" id="input-image" class="form-select form-select-sm">
                  <option value="*"></option>
                  <option value="1" {% if filter_image == '1' %}selected{% endif %}>{{ text_enabled }}</option>
                  <option value="0" {% if filter_image == '0' and filter_image is not null %}selected{% endif %}>{{ text_disabled }}</option>
                  <option value="2" {% if filter_image == '2' %}selected{% endif %}>{{ text_missing_image_file }}</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="input-name-length" class="form-label">Name Length</label>
                <select name="filter_name_length" id="input-name-length" class="form-select form-select-sm">
                  <option value="*"></option>
                  <option value="1" {% if filter_name_length == '1' %}selected{% endif %}>Name > 80 chars</option>
                  <option value="0" {% if filter_name_length == '0' and filter_name_length is not null %}selected{% endif %}>Name empty</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="input-invalid-price" class="form-label">Invalid Price</label>
                <select name="filter_invalid_price" id="input-invalid-price" class="form-select form-select-sm">
                  <option value="*"></option>
                  <option value="1" {% if filter_invalid_price == '1' %}selected{% endif %}>Price < 0</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="input-status" class="form-label">{{ entry_status }}</label>
                <select name="filter_status" id="input-status" class="form-select form-select-sm">
                  <option value="*"></option>
                  <option value="1" {% if filter_status == '1' %}selected{% endif %}>{{ text_enabled }}</option>
                  <option value="0" {% if filter_status == '0' and filter_status is not null %}selected{% endif %}>{{ text_disabled }}</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="input-limit" class="form-label">{{ entry_limit }}</label>
                <select name="limit" id="input-limit" class="form-select form-select-sm">
                  {% for option in per_page_options %}
                    <option value="{{ option }}" {% if limit == option %}selected{% endif %}>{{ option }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="text-end">
                <button type="button" id="button-filter" class="btn btn-light"><i class="fa-solid fa-filter"></i> {{ button_filter }}</button>
                <button type="reset" data-bs-toggle="tooltip" title="{{ button_reset }}" class="btn btn-outline-secondary"><i class="fa-solid fa-filter-circle-xmark"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col col-lg-9 col-md-12">
        <div class="card">
          <div class="card-header"><i class="fa-solid fa-list"></i> {{ text_list }}</div>
          <div id="product" class="card-body">{{ list }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

      // Dynamic content loading for table headers and pagination
      $('#product').on('click', 'thead a, .pagination a', function(e) {
          e.preventDefault();
          
          var url = this.href;
          
          $('#product').html('<div class="text-center"><i class="fa fa-spinner fa-spin fa-3x"></i><br/>Loading...</div>');
          
          $('#product').load(url, function() {
              $('html, body').animate({ scrollTop: $('#product').offset().top - 100 }, 300);
              if (typeof window.reinitImagePreview === 'function') {
                  window.reinitImagePreview();
              }
              if (typeof window.initImageResolutionCheck === 'function') {
                  window.initImageResolutionCheck();
              }
          });
      });


      $('#button-filter').on('click', function() {
          var url = '';

          // Filter SKU
          var filter_sku = $('#input-sku').val();
          if (filter_sku) {
              url += '&filter_sku=' + encodeURIComponent(filter_sku);
          }

          // Filter Product ID
          var filter_product_id = $('#input-product-id').val();
          if (filter_product_id) {
              url += '&filter_product_id=' + encodeURIComponent(filter_product_id);
          }

          // Filter Name
          var filter_name = $('#input-name').val();
          if (filter_name) {
              url += '&filter_name=' + encodeURIComponent(filter_name);
          }

          // Filter Model
          var filter_model = $('#input-model').val();
          if (filter_model) {
              url += '&filter_model=' + encodeURIComponent(filter_model);
          }

          // Filter Category ID
          var filter_category_id = $('#input-category-id').val();
          if (filter_category_id) {
              url += '&filter_category_id=' + encodeURIComponent(filter_category_id);
          }

          var filter_manufacturer_id = $('#input-manufacturer-id').val();

          if (filter_manufacturer_id) {
              url += '&filter_manufacturer_id=' + filter_manufacturer_id;
          }

          var filter_price_from = $('#input-price-from').val();

          if (filter_price_from) {
              url += '&filter_price_from=' + encodeURIComponent(filter_price_from);
          }

          var filter_price_to = $('#input-price-to').val();

          if (filter_price_to) {
              url += '&filter_price_to=' + encodeURIComponent(filter_price_to);
          }

          var filter_quantity_from = $('#input-quantity-from').val();

          if (filter_quantity_from) {
              url += '&filter_quantity_from=' + filter_quantity_from;
          }

          var filter_quantity_to = $('#input-quantity-to').val();

          if (filter_quantity_to) {
              url += '&filter_quantity_to=' + filter_quantity_to;
          }

          // Filter Status
          var filter_status = $('#input-status').val();
          if (filter_status != '*') {
              url += '&filter_status=' + encodeURIComponent(filter_status);
          }

          // Filter Specifics
          var filter_specifics = $('#input-specifics').val();
          if (filter_specifics != '*') {
              url += '&filter_specifics=' + encodeURIComponent(filter_specifics);
          }

          // Filter Sources
          var filter_sources = $('#input-sources').val();
          if (filter_sources != '*') {
              url += '&filter_sources=' + encodeURIComponent(filter_sources);
          }

          // Filter Image
          var filter_image = $('#input-image').val();
          if (filter_image != '*') {
              url += '&filter_image=' + encodeURIComponent(filter_image);
          }

          // Filter Marketplace Account ID
          var filter_marketplace_account_id = $('#input-marketplace-account-id').val();
          if (filter_marketplace_account_id) {
              url += '&filter_marketplace_account_id=' + encodeURIComponent(filter_marketplace_account_id);
          }

          // Filter Marketplace
          var filter_marketplace = $('#input-marketplace').val();
          if (filter_marketplace) {
              url += '&filter_marketplace=' + encodeURIComponent(filter_marketplace);
          }

          // Filter Name Length
          var filter_name_length = $('#input-name-length').val();
          if (filter_name_length && filter_name_length !== '*') {
              url += '&filter_name_length=' + encodeURIComponent(filter_name_length);
          }

          // Filter Invalid Price
          var filter_invalid_price = $('#input-invalid-price').val();
          if (filter_invalid_price && filter_invalid_price !== '*') {
              url += '&filter_invalid_price=' + encodeURIComponent(filter_invalid_price);
          }

          // Limit
          var limit = $('#input-limit').val();
          if (limit != '*') {
              url += '&limit=' + encodeURIComponent(limit);
          }

           window.history.pushState({}, null, 'index.php?route=shopmanager/catalog/product&user_token={{ user_token }}' + url);

          $('#product').load('index.php?route=shopmanager/catalog/product.list&user_token={{ user_token }}' + url, function() {
              if (typeof window.reinitImagePreview === 'function') {
                  window.reinitImagePreview();
              }
              if (typeof window.initImageResolutionCheck === 'function') {
                  window.initImageResolutionCheck();
              }
              // Update the list/feed button based on filter state
              if (typeof window.updateListFeedButton === 'function') {
                  window.updateListFeedButton();
              }
          });
      });

      $('#button-reset-filters').on('click', function () {
          var url = '';
        // Réinitialiser tous les champs sauf celui qui vient de changer et ceux à ne pas modifier
        $('#form-filter input, #form-filter select').each(function () {
            if ($(this).attr('id') !== 'input-limit') {

                  $(this).prop('value', '').removeProp('value');
            }
        });
          // Limit
          var limit = $('select[name=\'limit\']').val();
           window.history.pushState({}, null, 'index.php?route=shopmanager/catalog/product&user_token={{ user_token }}' + url);

          $('#product').load('index.php?route=shopmanager/catalog/product.list&user_token={{ user_token }}' + url, function() {
              if (typeof window.reinitImagePreview === 'function') {
                  window.reinitImagePreview();
              }
              if (typeof window.initImageResolutionCheck === 'function') {
                  window.initImageResolutionCheck();
              }
          });
      });


  // Language variables for JavaScript
  var lang = {
      alert_valid_quantity: '{{ alert_valid_quantity|escape('js') }}',
      alert_valid_unallocated: '{{ alert_valid_unallocated|escape('js') }}',
      alert_location_required: '{{ alert_location_required|escape('js') }}',
      alert_location_not_empty_if_qty: '{{ alert_location_not_empty_if_qty|escape('js') }}',
      confirm_transfer: '{{ confirm_transfer|escape('js') }}',
      error_update: '{{ error_update|escape('js') }}',
      error_update_location: '{{ error_update_location|escape('js') }}',
      error_update_quantity: '{{ error_update_quantity|escape('js') }}',
      error_api_call: '{{ error_api_call|escape('js') }}',
        error_token_not_found: '{{ error_token_not_found|escape('js') }}',
        error_occurred: '{{ error_occurred|escape('js') }}',
        error_select_not_exist: '{{ error_select_not_exist|escape('js') }}',
        error_ajax: '{{ error_ajax|escape('js') }}',
        error_upload: '{{ error_upload|escape('js') }}',
        error_sources: '{{ error_sources|escape('js') }}',
        confirm_set_sources: '{{ confirm_set_sources|escape('js') }}',
        confirm_are_you_sure: '{{ confirm_are_you_sure|escape('js') }}',
        error_update_ebay: '{{ error_update_ebay|escape('js') }}',
        error_update_product: '{{ error_update_product|escape('js') }}'
    };
    
    // Pattern #1: i18n variables for product_list.js (global scope)
    var TEXT_LOCATION_PLACEHOLDER = '{{ text_location_placeholder|escape('js') }}';
    var TEXT_LOCATION_EMPTY = '{{ text_location_empty|escape('js') }}';
    var TEXT_ERROR_UPDATE = '{{ error_update|escape('js') }}';
    var TEXT_ERROR_API_CALL = '{{ error_api_call|escape('js') }}';
    var TEXT_CONFIRM_TRANSFER = '{{ confirm_transfer|escape('js') }}';
    var TEXT_FEED_ALL_PRODUCTS = '{{ text_feed_all_products|default("Feed All Products")|escape('js') }}';
    var TEXT_LIST_ALL_PRODUCTS = '{{ text_list_all_products|default("List All Products")|escape('js') }}';
    var TEXT_UPDATE_MARKETPLACE_SELECTED = '{{ text_update_marketplace_selected|escape('js') }}';
    var TEXT_UPDATE_MARKETPLACE_NO_SELECTION = '{{ text_update_marketplace_no_selection|escape('js') }}';
    var TEXT_UPDATE_MARKETPLACE_SKIP_NOT_LISTED = '{{ text_update_marketplace_skip_not_listed|escape('js') }}';
    var TEXT_UPDATE_MARKETPLACE_SKIP_ZERO_QUANTITY = '{{ text_update_marketplace_skip_zero_quantity|escape('js') }}';
    var TEXT_UPDATE_MARKETPLACE_PROCESSING = '{{ text_update_marketplace_processing|escape('js') }}';
    var TEXT_UPDATE_MARKETPLACE_SUCCESS = '{{ text_update_marketplace_success|escape('js') }}';
    var TEXT_UPDATE_MARKETPLACE_ERROR = '{{ text_update_marketplace_error|escape('js') }}';
    var TEXT_UPDATE_MARKETPLACE_DONE = '{{ text_update_marketplace_done|escape('js') }}';
    var TEXT_CONFIRM_DELETE = '{{ confirm_are_you_sure|escape('js') }}';
    var TEXT_END_SELECTED = '{{ text_end_selected|default("End Selected")|escape('js') }}';
    var USER_TOKEN = '{{ user_token }}';

    // Boutons Feed/List/End : se mettent à jour quand les checkboxes changent
    $(document).on('change', "input[name^='selected']", function() {
        if (typeof window.updateListFeedButton === 'function') {
            window.updateListFeedButton();
        }
    });
    // Select-all (header checkbox)
    $(document).on('change', "thead input[type='checkbox']", function() {
        setTimeout(function() {
            if (typeof window.updateListFeedButton === 'function') {
                window.updateListFeedButton();
            }
        }, 50);
    });
</script>
{{ footer }}