{# Original: shopmanager/catalog/category_ebay_list.twig #}
{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <a href="{{ repair }}" data-toggle="tooltip" title="{{ button_rebuild }}" class="btn btn-default"><i class="fa fa-refresh"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-category').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if success %}
      <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <div class="well">
          <div class="row">
            <form id="search-form">
              <div class="col-sm-5">
                <div class="form-group">
                  <label class="control-label" for="input-name">{{ entry_name }}</label>
                  <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                </div>
                <div class="form-group">
                  <label class="control-label" for="input-category-id">{{ entry_category_id }}</label>
                  <input type="text" name="filter_category_id" value="{{ filter_category_id }}" placeholder="{{ entry_category_id }}" id="input-category-id" class="form-control" />
                </div>
              </div>

              <div class="col-sm-5">
                <div class="form-group">
                  <label class="control-label" for="input-status">{{ entry_status }}</label>
                  <select name="filter_status" id="input-status" class="form-control">
                    <option value="*"></option>
                    <option value="1" {% if filter_status %}selected="selected"{% endif %}>{{ text_enabled }}</option>
                    <option value="0" {% if not filter_status and filter_status is not null %}selected="selected"{% endif %}>{{ text_disabled }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label" for="input-ebay-listable">{{ entry_leaf }}</label>
                  <select name="filter_leaf" id="input-ebay-listable" class="form-control">
                    <option value="*"></option>
                    <option value="1" {% if filter_leaf %}selected="selected"{% endif %}>{{ text_enabled }}</option>
                    <option value="0" {% if not filter_leaf and filter_leaf is not null %}selected="selected"{% endif %}>{{ text_disabled }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label" for="input-specifics">{{ entry_specifics }}</label>
                  <select name="filter_specifics" id="input-specifics" class="form-control">
                    <option value="*"></option>
                    <option value="1" {% if filter_specifics == '1' %}selected="selected"{% endif %}>{{ text_specifics_set }}</option>
                    <option value="0" {% if filter_specifics == '0' and filter_specifics is not null %}selected="selected"{% endif %}>{{ text_specifics_not_set }}</option>
                    <option value="2" {% if filter_specifics == '2' %}selected="selected"{% endif %}>{{ text_specifics_error }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label" for="input-limit">{{ entry_limit }}</label>
                  <select name="limit" id="input-limit" class="form-control">
                    {% for option in per_page_options %}
                      <option value="{{ option }}" {% if limit == option %}selected="selected"{% endif %}>{{ option }}</option>
                    {% endfor %}
                  </select>
                </div>
                <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> {{ button_filter }}</button>
              </div>
            </form>
          </div>
        </div>

        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-category">
          <input type="hidden" name="user_token" value="{{ user_token }}" />
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">
                    {% if sort == 'category_id' %}
                      <a href="{{ sort_category_id }}" class="{{ order|lower }}">{{ column_category_id }}</a>
                    {% else %}
                      <a href="{{ sort_category_id }}">{{ column_category_id }}</a>
                    {% endif %}
                  </td>
                  <td class="text-left">
                    {% if sort == 'name' %}
                      <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                    {% else %}
                      <a href="{{ sort_name }}">{{ column_name }}</a>
                    {% endif %}
                  </td>
                  <td class="text-right">
                    {% if sort == 'sort_order' %}
                      <a href="{{ sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a>
                    {% else %}
                      <a href="{{ sort_order }}">{{ column_sort_order }}</a>
                    {% endif %}
                  </td>
                  <td class="text-right">
                    {% if sort == 'sort_leaf' %}
                      <a href="{{ sort_leaf }}" class="{{ order|lower }}">{{ column_leaf }}</a>
                    {% else %}
                      <a href="{{ sort_leaf }}">{{ column_leaf }}</a>
                    {% endif %}
                  </td>
                  <td class="text-right">
                    {% if sort == 'sort_specifics' %}
                      <a href="{{ sort_specifics }}" class="{{ order|lower }}">{{ column_specifics }}</a>
                    {% else %}
                      <a href="{{ sort_specifics }}">{{ column_specifics }}</a>
                    {% endif %}
                  </td>
                  <td class="text-right">
                    {% if sort == 'sort_status' %}
                      <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                    {% else %}
                      <a href="{{ sort_status }}">{{ column_status }}</a>
                    {% endif %}
                  </td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if categories %}
                  {% for category in categories %}
                    <tr>
                      <td class="text-center">
                        <input type="checkbox" name="selected[]" value="{{ category.category_id }}" {% if category.category_id in selected %}checked="checked"{% endif %} />
                      </td>
                      <td class="text-left">{{ category.category_id }}</td>
                      <td class="text-left">{{ category.name }}</td>
                      <td class="text-right">{{ category.sort_order }}</td>
                      <td class="text-right">{{ category.leaf }}</td>
                      <td class="text-right">{{ category.specifics }}</td>
                      <td class="text-right">{{ category.status }}</td>
                      <td class="text-right">
                        <a href="{{ category.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td class="text-center" colspan="8">{{ text_no_results }}</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination|raw }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}