 <div class="table-responsive">
	<table class="table table-bordered table-hover">
	  <thead>
		<tr>
		  <td class="text-center">Order ID</td>
		  <td class="text-left">Product </td>
		  <td class="text-left">Model</td>
	  	  <td class="text-center">Shipped Qty</td>
		  <td class="text-left">Shipping Partner</td>
		  <td class="text-center">Tracking Code</td>
		  <td class="text-right">Delivery Date</td>
		  <td class="text-center">Mail Status</td>
		  <td class="text-right">Date Added</td>
		  <td class="text-right">Date Modified</td>
		</tr>
	  </thead>
	  <tbody>
		{% if (records) %} 
		{% for record in records %} 
		<tr>
		  <td class="text-center"><a href="{{ record['order_link'] }}" target="_blank">{{ record['order_id'] }}</a></td>
		  <td class="text-left"><a href="{{ record['product_link'] }}" target="_blank">{{ record['product'] }}</a></td>
		  <td class="text-left">{{ record['model'] }}</td> 				
	  	   <td class="text-center">{{ record['shipped_qty'] }}</td>
		  <td class="text-left">{{ record['shipping_partner'] }}</td>
		  <td class="text-center"><a href="{{ record['tracking_link'] }}" target="_blank">{{ record['code'] }}</a></td>
		  <td class="text-right">{{ record['delivery_date'] }}</td>
		  <td class="text-center">{{ record['mail'] }}</td>
		  <td class="text-right">{{ record['date_added'] }}</td>
		  <td class="text-right">{{ record['date_modified'] }}</td>
		</tr>
		{% endfor %} 
		{% else %} 
		<tr><td class="text-center" colspan="10">No Records Found</td></tr>
		{% endif %}				
	</tbody>
	</table>
</div>

<div class="row">
  <div class="col-sm-6 text-left">{{ pagination }}</div>
  <div class="col-sm-6 text-right">{{ results }}</div>
</div>
