<div>
  <div>
    <div>
      <style type="text/css">
<!--
.rps_ffec .x_topHeaderLinks a
	{text-decoration:none;
	color:#006699;
	font-family:Arial,san-serif}
.rps_ffec #x_marketingContent
	{border-bottom:1px solid #eaeaea;
	border-collapse:collapse;
	padding:0}
.rps_ffec #x_marketingContent td.x_recs
	{padding:10px 0}
.rps_ffec #x_marketingContent td.x_right
	{padding:10px 0 10px 3px}
.rps_ffec #x_marketingContent td.x_left
	{padding:10px 0 10px 0}
.rps_ffec .x_a-icon-info, .rps_ffec .x_a-icon-small
	{background-position:-166px -130px;
	height:13px;
	width:14px}
.rps_ffec .x_a-icon
	{background-image:url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_1x-28bd59af93d9b1c745bb0aca4de58763b54df7cf._V2_.png);
	display:inline-block}
.rps_ffec .x_a-text-italic
	{font-style:italic!important}
.rps_ffec .x_a-size-small
	{font-size:12px!important;
	line-height:1.5!important}
.rps_ffec .x_enhancedNotificationHyperLink
	{color:#0066C0}
.rps_ffec .x_enhancedNotificationHeader
	{font:18px Arial,sans-serif;
	color:#cc6600;
	margin:20px;
	border-bottom:1px solid #ccc;
	padding:0 0 3px 0}
.rps_ffec .x_enhancedNotificationImage
	{margin:0px 20px 3px 20px}
.rps_ffec .x_enhancedNotificationDescription
	{margin:0px 20px 3px 10px;
	text-align:justify;
	font:12px Arial,sans-serif}
-->
</style>
      <style type="text/css">
<!--
.rps_ffec #x_topAmabotBannerWrapper
	{padding:0px 0px 0px 0px}
.rps_ffec #x_topAmabotBannerWrapper td
	{vertical-align:middle}
.rps_ffec #x_topAmabotBannerWrapper table
	{border-spacing:0}
.rps_ffec .x_noColorAndTextDecoration a
	{color:#000!important;
	text-decoration:none!important}
.rps_ffec #x_topAmabotBannerBackgroundTable
	{border-top:3px solid rgb(256,256,256);
	background-color:#efefef;
	width:100{{ '%}' }}
.rps_ffec #x_topAmabotBannerLeftImage
	{width:0%;
	padding:9px 8px 9px 15px}
.rps_ffec #x_topAmabotBannerTextArea
	{padding:9px 0 9px 0;
	width:100{{ '%}' }}
.rps_ffec #x_topAmabotBannerHeader
	{font:bold 14px Arial,sans-serif;
	color:#333}
.rps_ffec #x_topAmabotBannerHeaderClickable
	{font:bold 14px Arial,sans-serif;
	color:#069}
.rps_ffec #x_topAmabotBannerBodyPrefixClickable
	{font:bold 14px Arial,sans-serif;
	color:#069}
.rps_ffec #x_topAmabotBannerBodyPrefix
	{font:14px Arial,sans-serif;
	color:#333}
.rps_ffec #x_topAmabotBannerBody
	{font:14px Georgia,serif;
	line-height:1.2;
	color:#333}
.rps_ffec #x_topAmabotBannerBodyEmphasized
	{font:14px Georgia,serif;
	line-height:1.2;
	font-style:italic;
	color:#333}
-->
</style>
      <div class="rps_ffec">
        <div style="margin:0">
          <table width="640" cellspacing="0" cellpadding="0" style="font:12px/16px Arial,sans-serif; color:#333; background-color:#FFF; margin:0 auto">
            <tbody>
              {block1}
              {block2}
			  
              <tr>
                <td colspan="2" id="x_shipmentDetails" style="padding:16px 40px; width:640px"><table width="565" cellspacing="0" cellpadding="0">
                    <tbody>
					  {% for product in products %} 
                      <tr>
                        <td align="center" valign="top" style="width:150px; height:115px"><img data-imagetype="External" src="{{ product['image'] }}" border="0" id="x_asin" style="margin:0 0 14px 0"></td>
                        <td valign="top" style="color:#666; padding:10px 10px 0 10px; width:330px; height:115px">{{ product['name'] }} 
						{% for option in product['option'] %} 
								  <br />
								  &nbsp;<small> - {{ option['name'] }}: {{ option['value'] }}</small>
								  {% endfor %} 
						</td>
                        <td align="right" valign="top" style="font:14px Arial,san-serif; padding:10px 0 0 0; width:85px; height:115px"><strong>{{ product['price'] }}</strong> </td>
                      </tr>
                      
					  {% endfor %} 
					  {% if (shipping_qty == 'multiple') %} 
					  <tr>
                        <td colspan="3" style="border-top:1px solid rgb(234,234,234); padding:0pt 0pt 16px; width:560px">&nbsp;</td>
                      </tr>
					  {% for total in totals %} 
                      <tr>
                        <td colspan="2" align="right" valign="top" style="font:12px/18px Arial,sans-serif; padding:0 10px 0 0; color:#333; width:480px"> {{ total['title'] }}: </td>
                        <td align="right" valign="top" style="font:12px/18px Arial,sans-serif; color:#333; width:85px"> {{ total['text'] }} </td>
                      </tr>
					  {% endfor %} 
					  {% endif %} 
                    </tbody>
                  </table></td>
              </tr>
			  
              {block3}
              <tr>
                <td colspan="2" style="font-size:10px; color:#666; padding:0 20px 20px 20px; line-height:16px; width:640px">{block4}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
