{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ heading_title }}</h3>
      </div>
      <div class="panel-body">
        <h2>Listing Data (listing_id = 1)</h2>
        <pre>{{ listing_data | json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>

        <h2>Site Setting</h2>
        <pre>{{ site_setting | json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>

        <h2>Response from addCardListing</h2>
        <pre>{{ response | json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
      </div>
    </div>
  </div>
</div>
{{ footer }}