{# Original: warehouse/product/receive_list.twig #}
{{ header }}
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <a href="{{ product_search }}" data-bs-toggle="tooltip" title="{{ button_product_search }}" class="btn btn-warning"><i class="fa-solid fa-search"></i></a>
        <a href="{{ add }}" data-bs-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa-solid fa-plus"></i></a>
        {% if filter_status == 0 %}
          <button type="button" data-bs-toggle="tooltip" title="{{ button_enable }}" class="btn btn-success" onclick="handleEnable();"><i class="fa-solid fa-check"></i></button>
        {% else %}
          <button type="button" data-bs-toggle="tooltip" title="{{ button_disable }}" class="btn btn-danger" onclick="handleDisable();"><i class="fa-solid fa-ban"></i></button>
        {% endif %}
        <button type="submit" form="form-product-{{ product_id }}" formaction="{{ copy }}" data-bs-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light"><i class="fa-solid fa-copy"></i></button>
        <button type="button" data-bs-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-product-{{ product_id }}').submit() : false;"><i class="fa-solid fa-trash"></i></button>
        <a href="{{ print_report }}" target="_blank" class="btn btn-info"><i class="fa-solid fa-print"></i></a>
      </div>

      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>

  <style>
    @media (min-width: 992px) {
      .fast-add-layout {
        display: flex;
        gap: 16px;
        align-items: flex-start;
      }

      .fast-add-table {
        flex: 1 1 auto;
        min-width: 0;
      }

      .fast-add-filter {
        width: 340px;
        flex: 0 0 340px;
      }

      .fast-add-filter [class*="col-sm-"] {
        float: none;
        width: 100%;
      }

      .fast-add-filter #button-filter,
      .fast-add-filter #toggle-button {
        width: 100%;
        margin-top: 8px;
      }
    }
  </style>

  <div class="container-fluid">
    {{ wait_popup|raw }}
    {{ alert_popup|raw }}
    {{ marketplace_error_popup|raw }}

    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> {{ error_warning }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    {% endif %}
    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> {{ success }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    {% endif %}
    {% if error %}
      <div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    {% endif %}

    <div class="card">
      <div class="card-header"><i class="fa-solid fa-list"></i> {{ text_list }}</div>
      <div class="card-body fast-add-layout">
        <div class="fast-add-table">
          <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-product-{{ product_id }}">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td style="width:1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                    <td class="text-center">{{ column_product_id }}</td>
                    <td class="text-center">{{ column_image }}</td>
                    <td class="text-start">
                      {% if sort == 'p.condition_id' %}
                        <a href="{{ sort_condition_id }}" class="{{ order|lower }}">{{ column_condition_id }}</a>
                      {% else %}
                        <a href="{{ sort_condition_id }}">{{ column_condition_id }}</a>
                      {% endif %}
                    </td>
                    <td class="text-start">{{ column_marketplace_item_id }}</td>
                    <td class="text-start">
                      {% if sort == 'pd.name' %}
                        <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                      {% else %}
                        <a href="{{ sort_name }}">{{ column_name }}</a>
                      {% endif %}
                    </td>
                    <td class="text-end">
                      {% if sort == 'p.price' %}
                        <a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_price }}</a>
                      {% else %}
                        <a href="{{ sort_price }}">{{ column_price }}</a>
                      {% endif %}
                    </td>
                    <td class="text-end">
                      {% if sort == 'p.unallocated_quantity' %}
                        <a href="{{ sort_unallocated_quantity }}" class="{{ order|lower }}">{{ column_unallocated_quantity }}</a>
                      {% else %}
                        <a href="{{ sort_unallocated_quantity }}">{{ column_unallocated_quantity }}</a>
                      {% endif %}
                    </td>
                    <td></td>
                    <td class="text-end">
                      {% if sort == 'p.quantity' %}
                        <a href="{{ sort_quantity }}" class="{{ order|lower }}">{{ column_quantity }}</a>
                      {% else %}
                        <a href="{{ sort_quantity }}">{{ column_quantity }}</a>
                      {% endif %}
                    </td>
                    <td class="text-start">
                      {% if sort == 'p.location' %}
                        <a href="{{ sort_location }}" class="{{ order|lower }}">{{ column_location }}</a>
                      {% else %}
                        <a href="{{ sort_location }}">{{ column_location }}</a>
                      {% endif %}
                    </td>
                    <td class="text-end">
                      {% if sort == 'has_sources' %}
                        <a href="{{ sort_sources }}" class="{{ order|lower }}">{{ column_sources }}</a>
                      {% else %}
                        <a href="{{ sort_sources }}">{{ column_sources }}</a>
                      {% endif %}
                    </td>
                    <td class="text-end">
                      {% if sort == 'has_specifics' %}
                        <a href="{{ sort_specifics }}" class="{{ order|lower }}">{{ column_specifics }}</a>
                      {% else %}
                        <a href="{{ sort_specifics }}">{{ column_specifics }}</a>
                      {% endif %}
                    </td>
                    <td class="text-start">
                      {% if sort == 'p.status' %}
                        <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                      {% else %}
                        <a href="{{ sort_status }}">{{ column_status }}</a>
                      {% endif %}
                    </td>
                    <td class="col-sm-2 text-end">{{ column_action }}</td>
                  </tr>
                </thead>
                <tbody>
                  {% if products %}
                    {% for product in products %}
                      <tr id="product-main-row-{{ product.product_id }}">
                        <td class="text-center">
                          {% if product.product_id in selected %}
                            <input type="checkbox" name="selected[{{ product.product_id }}]" value="{{ product.product_id }}" checked="checked" />
                          {% else %}
                            <input type="checkbox" name="selected[{{ product.product_id }}]" value="{{ product.product_id }}" />
                          {% endif %}
                        </td>
                        <td class="text-center">{{ product.product_id }}</td>
                        <td class="text-center">
                          {% if product.image %}
                            <img src="{{ product.image }}" alt="{{ product.name }}" class="img-thumbnail" />
                          {% else %}
                            <span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span>
                          {% endif %}
                        </td>
                        <td class="text-center">{{ product.condition_name }}</td>
                        <td class="text-center marketplace_item_id">
                          <label class="text-center" id="label-marketplace-item-id">
                            {% if product.marketplace_accounts_id %}
                              {% for marketplace_account_id, marketplace in product.marketplace_accounts_id %}
                                {% set marketplace_item_id = marketplace.marketplace_item_id|default(0) %}
                                {% set marketplace_name = marketplace.marketplace_name %}
                                {% set url_product = marketplace.url_product %}
                                {% set marketplace_thumb = marketplace.thumb %}
                                {% set marketplace_id = marketplace.marketplace_id %}
                                {% set category_id = product.category_id %}
                                <span id="marketplace-account-id-{{ product.product_id }}-{{ marketplace_account_id }}">
                                  <input type="hidden" name="url_product_{{ product.product_id }}_{{ marketplace_account_id }}" value="{{ url_product }}" />
                                  <input type="hidden" name="marketplace_name_{{ product.product_id }}_{{ marketplace_account_id }}" value="{{ marketplace_name }}" />
                                  {% if marketplace_item_id %}
                                    {% set product_link = url_product|replace({'{item_id}': marketplace_item_id}) %}
                                    <a href="{{ product_link }}" target="marketplace_item_id">
                                      <img src="{{ marketplace_thumb }}" alt="{{ marketplace_name }}" style="width:50px;height:auto;">
                                    </a>
                                  {% else %}
                                    <a href="javascript:void(0);" onclick="addToMarketplace('{{ product.product_id }}','{{ marketplace_account_id }}','{{ marketplace_id }}','{{ category_id }}');">
                                      <img src="{{ marketplace_thumb }}" alt="{{ marketplace_name }}" style="width:50px;height:auto;">
                                    </a>
                                  {% endif %}
                                </span>
                              {% endfor %}
                            {% endif %}
                          </label>
                        </td>
                        <td class="text-start">{{ product.name }}</td>
                        <td class="text-end">
                          {% if product.special %}
                            <span style="text-decoration:line-through;">${{ product.price }}</span><br/>
                            <div class="text-danger">{{ product.special }}</div>
                          {% else %}
                            {{ product.price }}
                          {% endif %}
                        </td>
                        <td class="text-end unallocated_quantity">
                          <span id="unallocated-quantity-{{ product.product_id }}"
                                rel="{{ product.product_id }}"
                                rel1="{{ product.unallocated_quantity }}"
                                class="pedit-unallocated-quantity
                                {% if product.unallocated_quantity <= 0 %}
                                  label label-warning
                                {% elseif product.unallocated_quantity <= 5 %}
                                  label label-danger
                                {% else %}
                                  label label-success
                                {% endif %}">
                            {{ product.unallocated_quantity }}
                          </span>
                        </td>
                        <td>
                          <button type="button" class="btn btn-light" onclick="transferUnallocatedQuantity({{ product.product_id }});" title="{{ button_transfer }}">
                            <i class="fa-solid fa-arrow-right"></i>
                          </button>
                        </td>
                        <td class="text-end quantity">
                          <span id="quantity-{{ product.product_id }}"
                                rel="{{ product.product_id }}"
                                rel1="{{ product.quantity }}"
                                class="pedit-quantity
                                {% if product.quantity <= 0 %}
                                  label label-warning
                                {% elseif product.quantity <= 5 %}
                                  label label-danger
                                {% else %}
                                  label label-success
                                {% endif %}">
                            {{ product.quantity }}
                          </span>
                        </td>
                        <td class="text-center location">
                          <span id="location-{{ product.product_id }}" class="pedit-location" rel="{{ product.product_id }}" rel1="{{ product.location }}">
                            {{ product.location }}
                          </span>
                        </td>
                        <td class="text-center">{{ product.has_sources }}</td>
                        <td class="text-center">
                          {{ product.has_specifics|raw }}
                          {% if product.has_specifics and product.total_specifics_count %}
                            {% set filled = product.filled_specifics_count|default(0) %}
                            {% set total = product.total_specifics_count|default(0) %}
                            {% set percentage = total > 0 ? ((filled / total) * 100)|round : 0 %}
                            {% set red = (255 - (percentage * 2.55))|round %}
                            {% set green = (percentage * 2.55)|round %}
                            <div style="position:relative;width:100px;height:15px;background-color:#ddd;border-radius:5px;overflow:hidden;">
                              <div style="width:{{ percentage }}%;height:100%;background-color:rgb({{ red }},{{ green }},0);"></div>
                            </div>
                            ({{ filled }}/{{ total }})
                          {% endif %}
                        </td>
                        <td class="text-center">{{ product.status }}</td>
                        <td class="text-center">
                          {% if product.has_specifics and product.has_sources %}
                            <a href="{{ product.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                          {% else %}
                            <a href="javascript:void(0);" onclick="fastProductSearch({{ product.product_id }}, '{{ product.upc }}')" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                          {% endif %}
                          {% if product.status_id == 0 %}
                            <button type="button" data-bs-toggle="tooltip" title="{{ button_enable }}" class="btn btn-success" onclick="handleEnable({{ product.product_id }});"><i class="fa-solid fa-check"></i></button>
                          {% else %}
                            <button type="button" data-bs-toggle="tooltip" title="{{ button_disable }}" class="btn btn-danger" onclick="handleDisable({{ product.product_id }});"><i class="fa-solid fa-ban"></i></button>
                          {% endif %}
                          <button type="button" data-bs-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light" onclick="handleCopy({{ product.product_id }});"><i class="fa-solid fa-copy"></i></button>
                          <button type="button" data-bs-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="handleDelete({{ product.product_id }});"><i class="fa fa-trash-o"></i></button>
                        </td>
                      </tr>
                      <tr id="product-row-{{ product.product_id }}"></tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td class="text-center" colspan="11">{{ text_no_results }}</td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </form>
          <div class="row">
            <div class="col-sm-6 text-start">{{ pagination }}</div>
            <div class="col-sm-6 text-end">{{ results }}</div>
          </div>
        </div>

        <div class="fast-add-filter card card-body">
          <div class="row">
            <form id="search-form">
              <input type="hidden" name="user_token" value="{{ user_token }}" />

              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label" for="input-sku">{{ entry_sku }}</label>
                  <input type="text" name="filter_sku" value="{{ filter_sku }}" placeholder="{{ entry_sku }}" id="input-sku" class="form-control" />
                </div>
                <div class="mb-3">
                  <label class="form-label" for="input-status">{{ entry_status }}</label>
                  <select name="filter_status" id="input-status" class="form-select">
                    <option value="*"></option>
                    {% if filter_status %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                    {% endif %}
                    {% if not filter_status and filter_status is not null %}
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% else %}
                      <option value="0">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label" for="input-product-id">{{ entry_product_id }}</label>
                  <input type="text" name="filter_product_id" value="{{ filter_product_id }}" placeholder="{{ entry_product_id }}" id="input-product-id" class="form-control" />
                </div>
                <div class="mb-3">
                  <label class="form-label" for="input-category-id">{{ entry_category_id }}</label>
                  <input type="text" name="filter_category_id" value="{{ filter_category_id }}" placeholder="{{ entry_category_id }}" id="input-category-id" class="form-control" />
                </div>
              </div>

              <div class="collapse" id="additional-fields">
                <div class="col-sm-3">
                  <div class="mb-3">
                    <label class="form-label" for="input-name">{{ entry_name }}</label>
                    <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="input-price">{{ entry_price }}</label>
                    <input type="text" name="filter_price" value="{{ filter_price }}" placeholder="{{ entry_price }}" id="input-price" class="form-control" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="input-quantity">{{ entry_quantity }}</label>
                    <input type="text" name="filter_quantity" value="{{ filter_quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" class="form-control" />
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="mb-3">
                    <label class="form-label" for="input-image">{{ entry_image }}</label>
                    <select name="filter_image" id="input-image" class="form-select">
                      <option value="*"></option>
                      {% if filter_image == '1' %}
                        <option value="1" selected="selected">{{ text_enabled }}</option>
                      {% else %}
                        <option value="1">{{ text_enabled }}</option>
                      {% endif %}
                      {% if filter_image == '0' and filter_image is not null %}
                        <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% else %}
                        <option value="0">{{ text_disabled }}</option>
                      {% endif %}
                      {% if filter_image == '2' %}
                        <option value="2" selected="selected">{{ text_missing_image_file }}</option>
                      {% else %}
                        <option value="2">{{ text_missing_image_file }}</option>
                      {% endif %}
                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="input-specifics">{{ entry_specifics }}</label>
                    <select name="filter_specifics" id="input-specifics" class="form-select">
                      <option value="*"></option>
                      {% if filter_specifics == '1' %}
                        <option value="1" selected="selected">{{ text_specifics_set }}</option>
                      {% else %}
                        <option value="1">{{ text_specifics_set }}</option>
                      {% endif %}
                      {% if filter_specifics == '0' and filter_specifics is not null %}
                        <option value="0" selected="selected">{{ text_specifics_not_set }}</option>
                      {% else %}
                        <option value="0">{{ text_specifics_not_set }}</option>
                      {% endif %}
                      {% if filter_specifics == '2' %}
                        <option value="2" selected="selected">{{ text_specifics_error }}</option>
                      {% else %}
                        <option value="2">{{ text_specifics_error }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-sm-2">
                <div class="mb-3">
                  <label class="form-label" for="input-limit">{{ entry_limit }}</label>
                  <select name="limit" id="input-limit" class="form-select">
                    {% for option in per_page_options %}
                      <option value="{{ option }}" {% if limit == option %}selected="selected"{% endif %}>{{ option }}</option>
                    {% endfor %}
                  </select>
                </div>
                <button type="button" id="toggle-button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#additional-fields">
                  <i class="fa fa-chevron-down"></i> Show More
                </button>
                <button type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-filter"></i> {{ button_filter }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var confirmMessage = '{{ text_confirm|default('') }}';
      var enableUrl = '{{ enable|default('')|replace({'&amp;':'&'}) }}';
      var disableUrl = '{{ disable|default('')|replace({'&amp;':'&'}) }}';
      var copyUrl = '{{ copy|default('')|replace({'&amp;':'&'}) }}';
      var limitLink = '{{ limit_link|default('')|replace({'&amp;':'&'}) }}';

      $('#button-filter').on('click', function() {
        var url = 'index.php?route=warehouse/product/receive&user_token={{ user_token }}';

        var filter_sku = $('input[name="filter_sku"]').val();
        if (filter_sku) url += '&filter_sku=' + encodeURIComponent(filter_sku);

        var filter_product_id = $('input[name="filter_product_id"]').val();
        if (filter_product_id) url += '&filter_product_id=' + encodeURIComponent(filter_product_id);

        var filter_name = $('input[name="filter_name"]').val();
        if (filter_name) url += '&filter_name=' + encodeURIComponent(filter_name);

        var filter_category_id = $('input[name="filter_category_id"]').val();
        if (filter_category_id) url += '&filter_category_id=' + encodeURIComponent(filter_category_id);

        var filter_price = $('input[name="filter_price"]').val();
        if (filter_price) url += '&filter_price=' + encodeURIComponent(filter_price);

        var filter_quantity = $('input[name="filter_quantity"]').val();
        if (filter_quantity) url += '&filter_quantity=' + encodeURIComponent(filter_quantity);

        var filter_status = $('select[name="filter_status"]').val();
        if (filter_status != '*') url += '&filter_status=' + encodeURIComponent(filter_status);

        var filter_image = $('select[name="filter_image"]').val();
        if (filter_image != '*') url += '&filter_image=' + encodeURIComponent(filter_image);

        var filter_specifics = $('select[name="filter_specifics"]').val();
        if (filter_specifics != '*') url += '&filter_specifics=' + encodeURIComponent(filter_specifics);

        var limit = $('select[name="limit"]').val();
        if (limit && limit != '*') url += '&limit=' + encodeURIComponent(limit);

        location = url;
      });
    </script>
  </div>
</div>

<script>
var TEXT_LOCATION_EMPTY          = '{{ text_location_empty|escape('js') }}';
var TEXT_ERROR_UPDATE_PREFIX     = '{{ text_error_update_prefix|escape('js') }}';
var TEXT_ERROR_API               = '{{ text_error_api|escape('js') }}';
var TEXT_CONFIRM_QTY_TRANSFER    = '{{ text_confirm_qty_transfer|escape('js') }}';
var TEXT_ERROR_UPDATE            = '{{ text_error_update|escape('js') }}';
var TEXT_INVALID_UNALLOCATED_QTY = '{{ text_invalid_unallocated_qty|escape('js') }}';
var TEXT_ERROR_QTY_UPDATE        = '{{ text_error_qty_update|escape('js') }}';
var TEXT_ERROR_LOCATION_UPDATE   = '{{ text_error_location_update|escape('js') }}';
var TEXT_INVALID_QTY             = '{{ text_invalid_qty|escape('js') }}';
</script>
{{ footer }}
