{# Original: shopmanager/card/card.twig #}
{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="button" data-bs-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-card').toggleClass('d-none');" class="btn btn-light d-lg-none"><i class="fa-solid fa-filter"></i></button>
        <a href="{{ add }}" data-bs-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa-solid fa-plus"></i></a>
        <button type="submit" form="form-card" formaction="{{ copy }}" data-bs-toggle="tooltip" title="{{ button_copy }}" class="btn btn-info"><i class="fa-solid fa-copy"></i></button>
        <button type="button" id="button-merge-cards" data-bs-toggle="tooltip" title="{{ button_merge }}" class="btn btn-warning"><i class="fa-solid fa-code-merge"></i></button>
        <button type="submit" form="form-card" formaction="{{ delete }}" data-bs-toggle="tooltip" title="{{ button_delete }}" onclick="return confirm('{{ text_confirm }}');" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div id="filter-card" class="col-lg-3 col-md-12 order-lg-last d-none d-lg-block mb-3">
        <div class="card">
          <div class="card-header"><i class="fa-solid fa-filter"></i> {{ button_filter }} <button type="button" id="button-reset-filters" class="btn btn-sm btn-outline-secondary float-end" data-bs-toggle="tooltip" title="{{ button_reset_filters }}"><i class="fa-solid fa-redo"></i></button></div>
          <div class="card-body">
            <form id="form-filter">
              <input type="hidden" name="user_token" value="{{ user_token }}">
              <div class="mb-3">
                <label for="input-card-id" class="form-label">{{ entry_card_id }}</label>
                <input type="text" name="filter_card_id" value="{{ filter_card_id }}" placeholder="{{ entry_card_id }}" id="input-card-id" class="form-control form-control-sm"/>
              </div>
              <div class="mb-3">
                <label for="input-name" class="form-label">{{ entry_name }}</label>
                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" data-oc-target="autocomplete-name" class="form-control form-control-sm" autocomplete="off"/>
                <ul id="autocomplete-name" class="dropdown-menu"></ul>
              </div>
              <div class="mb-3">
                <label for="input-set-name" class="form-label">{{ entry_set_name }}</label>
                <input type="text" name="filter_set_name" value="{{ filter_set_name }}" placeholder="{{ entry_set_name }}" id="input-set-name" data-oc-target="autocomplete-set-name" class="form-control form-control-sm" autocomplete="off"/>
                <ul id="autocomplete-set-name" class="dropdown-menu"></ul>
              </div>
              <div class="mb-3">
                <label for="input-card-type" class="form-label">{{ entry_card_type }}</label>
                <select name="filter_card_type_id" id="input-card-type" class="form-select form-select-sm">
                  <option value=""></option>
                  {% for card_type in card_types %}
                    <option value="{{ card_type.card_type_id }}" {% if card_type.card_type_id == filter_card_type_id %}selected{% endif %}>{{ card_type.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-3">
                <label for="input-year" class="form-label">{{ entry_year }}</label>
                <input type="text" name="filter_year" value="{{ filter_year }}" placeholder="{{ entry_year }}" id="input-year" class="form-control form-control-sm"/>
              </div>
              <div class="mb-3">
                <label for="input-location" class="form-label">{{ entry_location }}</label>
                <input type="text" name="filter_location" value="{{ filter_location }}" placeholder="{{ entry_location }}" id="input-location" data-oc-target="autocomplete-location" class="form-control form-control-sm" autocomplete="off"/>
                <ul id="autocomplete-location" class="dropdown-menu"></ul>
              </div>
              <div class="mb-3">
                <label for="input-status" class="form-label">{{ entry_status }}</label>
                <select name="filter_status" id="input-status" class="form-select form-select-sm">
                  <option value="*"></option>
                  <option value="1" {% if filter_status == '1' %}selected{% endif %}>{{ text_enabled }}</option>
                  <option value="0" {% if filter_status == '0' and filter_status is not null %}selected{% endif %}>{{ text_disabled }}</option>
                </select>
              </div>
              <div class="text-end">
                <button type="button" id="button-filter" class="btn btn-primary btn-sm"><i class="fa-solid fa-filter"></i> {{ button_filter }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="card">
          <div class="card-header"><i class="fa-solid fa-list"></i> {{ text_list }}</div>
          <div class="card-body">
            <form id="form-card" method="post">
              <div id="card-list">{{ list }}</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

      // Dynamic content loading for table headers and pagination
      $('#card-list').on('click', 'thead a, .pagination a', function(e) {
          e.preventDefault();
          
          var url = this.href;
          
          $('#card-list').html('<div class="text-center"><i class="fa fa-spinner fa-spin fa-3x"></i><br/>Loading...</div>');
          
          $('#card-list').load(url, function() {
              $('html, body').animate({ scrollTop: $('#card-list').offset().top - 100 }, 300);
              if (typeof window.reinitImagePreview === 'function') {
                  window.reinitImagePreview();
              }
              if (typeof window.initImageResolutionCheck === 'function') {
                  window.initImageResolutionCheck();
              }
          });
      });


      $('#button-filter').on('click', function() {
          var url = '';

          var filter_card_id = $('#input-card-id').val();

          if (filter_card_id) {
              url += '&filter_card_id=' + encodeURIComponent(filter_card_id);
          }

          var filter_name = $('#input-name').val();

          if (filter_name) {
              url += '&filter_name=' + encodeURIComponent(filter_name);
          }

          var filter_set_name = $('#input-set-name').val();

          if (filter_set_name) {
              url += '&filter_set_name=' + encodeURIComponent(filter_set_name);
          }

          var filter_year = $('#input-year').val();

          if (filter_year) {
              url += '&filter_year=' + encodeURIComponent(filter_year);
          }

          var filter_location = $('#input-location').val();

          if (filter_location) {
              url += '&filter_location=' + encodeURIComponent(filter_location);
          }

          var filter_status = $('#input-status').val();

          if (filter_status !== '*') {
              url += '&filter_status=' + encodeURIComponent(filter_status);
          }

          // Limit
          var limit = $('#input-limit').val();
          if (limit != '*') {
              url += '&limit=' + encodeURIComponent(limit);
          }

           window.history.pushState({}, null, 'index.php?route=shopmanager/card/card&user_token={{ user_token }}' + url);

          $('#card-list').load('index.php?route=shopmanager/card/card.list&user_token={{ user_token }}' + url, function() {
             /* if (typeof window.reinitImagePreview === 'function') {
                  window.reinitImagePreview();
              }
              if (typeof window.initImageResolutionCheck === 'function') {
                  window.initImageResolutionCheck();
              }*/
          });
      });

      $('#button-reset-filters').on('click', function () {
          var url = '';
        // Réinitialiser tous les champs sauf celui qui vient de changer et ceux à ne pas modifier
          $('#input-card-id').val('');
          $('#input-name').val('');
          $('#input-set-name').val('');
          $('#input-year').val('');
          $('#input-location').val('');
          $('#input-status').val('*');
           window.history.pushState({}, null, 'index.php?route=shopmanager/card/card&user_token={{ user_token }}' + url);

          $('#card-list').load('index.php?route=shopmanager/card/card.list&user_token={{ user_token }}' + url, function() {
             /* if (typeof window.reinitImagePreview === 'function') {
                  window.reinitImagePreview();
              }
              if (typeof window.initImageResolutionCheck === 'function') {
                  window.initImageResolutionCheck();
              }*/
          });
      });


  // Language variables for JavaScript
  var lang = {
      alert_valid_quantity: '{{ alert_valid_quantity|escape('js') }}',
      alert_valid_unallocated: '{{ alert_valid_unallocated|escape('js') }}',
      alert_location_required: '{{ alert_location_required|escape('js') }}',
      alert_location_not_empty_if_qty: '{{ alert_location_not_empty_if_qty|escape('js') }}',
      confirm_transfer: '{{ confirm_transfer|escape('js') }}',
      error_update: '{{ error_update|escape('js') }}',
      error_update_location: '{{ error_update_location|escape('js') }}',
      error_update_quantity: '{{ error_update_quantity|escape('js') }}',
      error_api_call: '{{ error_api_call|escape('js') }}',
        error_token_not_found: '{{ error_token_not_found|escape('js') }}',
        error_occurred: '{{ error_occurred|escape('js') }}',
        error_select_not_exist: '{{ error_select_not_exist|escape('js') }}',
        error_ajax: '{{ error_ajax|escape('js') }}',
        error_upload: '{{ error_upload|escape('js') }}',
        error_sources: '{{ error_sources|escape('js') }}',
        confirm_set_sources: '{{ confirm_set_sources|escape('js') }}',
        confirm_are_you_sure: '{{ confirm_are_you_sure|escape('js') }}',
        error_update_ebay: '{{ error_update_ebay|escape('js') }}',
        error_update_product: '{{ error_update_product|escape('js') }}'
    };
    
    // Pattern #1: i18n variables for product_list.js (global scope)
    var TEXT_LOCATION_PLACEHOLDER = '{{ text_location_placeholder|escape('js') }}';
    var TEXT_LOCATION_EMPTY = '{{ text_location_empty|escape('js') }}';
    var TEXT_ERROR_UPDATE = '{{ error_update|escape('js') }}';
    var TEXT_ERROR_API_CALL = '{{ error_api_call|escape('js') }}';
    var TEXT_CONFIRM_TRANSFER = '{{ confirm_transfer|escape('js') }}';
    var TEXT_CONFIRM_DELETE = '{{ confirm_are_you_sure|escape('js') }}';
    var USER_TOKEN = '{{ user_token }}';
    var TEXT_MERGE_MIN     = '{{ error_merge_min|escape('js') }}';
    var TEXT_CONFIRM_MERGE = '{{ text_confirm_merge|escape('js') }}';
    var TEXT_MERGE_SUCCESS = '{{ text_merge_success|escape('js') }}';
    var URL_MERGE_CARDS    = 'index.php?route=shopmanager/card/card.mergeCards&user_token={{ user_token }}';
</script>
{{ footer }}