{# Original: warehouse/card/card_form.twig #}
{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-card" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_form }}</div>
      <div class="card-body">
        <form id="form-card" action="{{ save }}" method="post" enctype="multipart/form-data">
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-set-name">{{ entry_set_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="set_name" value="{{ set_name }}" placeholder="{{ entry_set_name }}" id="input-set-name" class="form-control" />
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-year">{{ entry_year }}</label>
            <div class="col-sm-10">
              <input type="number" name="year" value="{{ year }}" placeholder="{{ entry_year }}" id="input-year" class="form-control" min="1900" max="2100" />
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-location">{{ entry_location }}</label>
            <div class="col-sm-10">
              <input type="text" name="location" value="{{ location }}" placeholder="{{ entry_location }}" id="input-location" class="form-control" />
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <div class="form-check form-switch">
                <input type="hidden" name="status" value="0" />
                <input type="checkbox" name="status" value="1" id="input-status" class="form-check-input"{% if status %} checked{% endif %} />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
<script type="text/javascript"><!--
$('#input-name').on('input', function() {
    // Auto-generate set name if empty and name contains set info
    if (!$('#input-set-name').val()) {
        var name = $(this).val();
        // Simple logic to extract set name from card name
        // This can be enhanced based on your naming conventions
        var setMatch = name.match(/\(([^)]+)\)/);
        if (setMatch) {
            $('#input-set-name').val(setMatch[1]);
        }
    }
});
//--></script>