{# Original: warehouse/card/card_list.twig #}
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
        <td class="text-center">
          {% if sort == 'c.card_id' %}
            <a href="{{ sort_card_id }}" class="text-decoration-none fw-bold">{{ column_card_id }} <i class="fa-solid fa-sort-{{ order|lower }}"></i></a>
          {% else %}
            <a href="{{ sort_card_id }}" class="text-decoration-none">{{ column_card_id }}</a>
          {% endif %}
        </td>
        <td class="text-start">
          {% if sort == 'c.player_name' %}
            <a href="{{ sort_name }}" class="text-decoration-none fw-bold">{{ column_name }} <i class="fa-solid fa-sort-{{ order|lower }}"></i></a>
          {% else %}
            <a href="{{ sort_name }}" class="text-decoration-none">{{ column_name }}</a>
          {% endif %}
        </td>
        <td class="text-start">
          {% if sort == 'cl.set_name' %}
            <a href="{{ sort_set_name }}" class="text-decoration-none fw-bold">{{ column_set_name }} <i class="fa-solid fa-sort-{{ order|lower }}"></i></a>
          {% else %}
            <a href="{{ sort_set_name }}" class="text-decoration-none">{{ column_set_name }}</a>
          {% endif %}
        </td>
        <td class="text-start">
          {% if sort == 'ct.name' %}
            <a href="{{ sort_card_type }}" class="text-decoration-none fw-bold">{{ column_card_type }} <i class="fa-solid fa-sort-{{ order|lower }}"></i></a>
          {% else %}
            <a href="{{ sort_card_type }}" class="text-decoration-none">{{ column_card_type }}</a>
          {% endif %}
        </td>
        <td class="text-center">
          {% if sort == 'c.year' %}
            <a href="{{ sort_year }}" class="text-decoration-none fw-bold">{{ column_year }} <i class="fa-solid fa-sort-{{ order|lower }}"></i></a>
          {% else %}
            <a href="{{ sort_year }}" class="text-decoration-none">{{ column_year }}</a>
          {% endif %}
        </td>
        <td class="text-start">
          {% if sort == 'c.location' %}
            <a href="{{ sort_location }}" class="text-decoration-none fw-bold">{{ column_location }} <i class="fa-solid fa-sort-{{ order|lower }}"></i></a>
          {% else %}
            <a href="{{ sort_location }}" class="text-decoration-none">{{ column_location }}</a>
          {% endif %}
        </td>
        <td class="text-center">
          {% if sort == 'c.status' %}
            <a href="{{ sort_status }}" class="text-decoration-none fw-bold">{{ column_status }} <i class="fa-solid fa-sort-{{ order|lower }}"></i></a>
          {% else %}
            <a href="{{ sort_status }}" class="text-decoration-none">{{ column_status }}</a>
          {% endif %}
        </td>
        <td class="text-center">
          {% if sort == 'c.date_added' %}
            <a href="{{ sort_date_added }}" class="text-decoration-none fw-bold">{{ column_date_added }} <i class="fa-solid fa-sort-{{ order|lower }}"></i></a>
          {% else %}
            <a href="{{ sort_date_added }}" class="text-decoration-none">{{ column_date_added }}</a>
          {% endif %}
        </td>
        <td class="text-center">{{ column_action }}</td>
      </tr>
    </thead>
    <tbody>
      {% if cards %}
        {% for card in cards %}
          <tr>
            <td class="text-center">
              <input type="checkbox" name="selected[]" value="{{ card.card_id }}" />
            </td>
            <td class="text-center">{{ card.card_id }}</td>
            <td class="text-start">{{ card.name }}</td>
            <td class="text-start">{{ card.set_name }}</td>
            <td class="text-start">{{ card.card_type_name }}</td>
            <td class="text-center">{{ card.year }}</td>
            <td class="text-start">{{ card.location }}</td>
            <td class="text-center">
              {% if card.status %}
                <span class="badge bg-success">{{ text_enabled }}</span>
              {% else %}
                <span class="badge bg-danger">{{ text_disabled }}</span>
              {% endif %}
            </td>
            <td class="text-center">{{ card.date_added }}</td>
            <td class="text-center">
              <div class="btn-group btn-group-sm">
                <a href="{{ card.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a>
              </div>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td class="text-center" colspan="10">{{ text_no_results }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-6 text-start">{{ results }}</div>
  <div class="col-sm-6 text-end">{{ pagination }}</div>
</div>